.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    .logo-container {
        height: 100%;
        width: 70px;
        display: flex;
        align-content: center;
        text-align: center;
        align-items: center;
        cursor: pointer;
        
        svg {
            align-self: center;
            text-align: center;
            vertical-align: middle;
        }
    }
  
    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .option {
            padding: 10px 15px;
            cursor: pointer;

        }
        .active {
            font-weight: bold;
        }
    }

}